<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true"
	convertErrorsToExceptions="true" convertNoticesToExceptions="false"
	convertWarningsToExceptions="false">
	<testsuite name="SimplePhpRegexUnitTests">
		<!-- CHANGE TO "." WHEN OTHER BILLING TESTS OK -->
		<directory>./unit</directory>
	</testsuite>
	<filter>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
	<php>
	</php>
</phpunit>